@import "tailwindcss";

@theme {
  --color-primary: #ff4500;
  --color-dark: #2c2c2c;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-sans: "Montserrat", sans-serif;
  --font-heading: "Sora", sans-serif;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-black text-white w-full min-h-screen;
    font-family: var(--font-sans);
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  /* html {
    @apply scroll-smooth;
  } */
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (width >= 640px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@utility bg-grid {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  mask-image: radial-gradient(circle at 50% 50%, #000 0%, transparent 80%);
  -webkit-mask-image: radial-gradient(circle at 50% 50%, #000 0%, transparent 80%);
}
